/* font */
@font-face {
    font-family: "MaruBuri";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix)
            format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2)
            format("woff2"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff)
            format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf)
            format("truetype");
}
@font-face {
    font-family: "MaruBuriSemiBold";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix)
            format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2)
            format("woff2"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff)
            format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf)
            format("truetype");
}
@font-face {
    font-family: "MaruBuriBold";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot?#iefix)
            format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff2)
            format("woff2"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff)
            format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.ttf)
            format("truetype");
}
@font-face {
    font-family: "MaruBuriLight";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot?#iefix)
            format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff2)
            format("woff2"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff)
            format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.ttf)
            format("truetype");
}
@font-face {
    font-family: "MaruBuriExtraLight";
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot?#iefix)
            format("embedded-opentype"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2)
            format("woff2"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff)
            format("woff"),
        url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.ttf)
            format("truetype");
}
html {
    overflow-x: hidden;
}
/* body */
body {
    position: relative;
    overflow-x: hidden;
    word-break: keep-all;
}
/* ==================================================================== */

/* ====================== 모바일 버전 ============================ */
@media (max-width: 760px) {
    /* header */
    header {
        width: 100vw;
        font-family: "Noto Serif Display", serif;
        font-size: 20px;
        box-sizing: border-box;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 0px 3px 10px #999;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
    }
    .menu_wrap {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu_wrap > li:nth-child(1),
    .menu_wrap > li:nth-child(3) {
        width: 30%;
    }
    .menu_wrap > li:nth-child(2) {
        width: 40%;
    }
    header a {
        color: #fff;
    }
    header h1 {
        width: 200px;
        height: 100%;
    }
    header h1 > a {
        width: 100%;
        height: 100%;
    }
    .logo_colo {
        width: 100%;
        height: 100%;
    }
    .main_menu {
        display: none;
    }
    .reserv {
        text-align: right;
        display: none;
    }
    .reserv > a {
        width: 150px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #222;
        box-sizing: border-box;
        margin-right: 20px;
        position: relative;
        overflow: hidden;
    }
    .reserv > a p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .under_bar {
        width: 100%;
        height: 2px;
        background-color: #fff !important;
        margin-top: 4px;
        transform: scale(0);
        transition: 0.3s;
    }
    .side_menu {
        position: relative;
        z-index: 5;
    }
    .ham_menu {
        width: 400px;
        height: 1100px;
        background-color: #a0c4d7;
        position: absolute;
        right: -500px;
        top: -40px;
        transition: 0.5s;
    }
    /* 사이드메뉴 toggle on */
    .side_on {
        right: -30px;
    }
    .go_wrap {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .ham_menu .go_wrap > a {
        margin-bottom: 20px;
        font-size: 30px;
        color: #fff;
    }
    .wh_on {
        background-color: #fff !important;
    }
    /* 헤더밑줄 class */
    .under_on {
        transform: scale(1);
    }
    /* 링크버튼 박스 차오르는 색 */
    .circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #a0c4d7;
        position: absolute;
        bottom: -550%;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
        z-index: 1;
    }
    .fill_up {
        bottom: -150%;
    }
    .side_menu {
        display: block;
    }
    /* 햄버거 X버튼 */
    .bars {
        width: 25px;
        height: 25px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        z-index: 5;
        margin-right: 10px;
    }
    .bars a {
        width: 100%;
        height: 100%;
    }
    .bar {
        width: 25px;
        height: 2px;
        background-color: #222;
        transition: 0.5s;
        position: absolute;
    }
    .up {
        top: 0px;
        left: 0px;
    }
    .midd {
        width: 20px;
        top: 50%;
        right: 0px;
        transform: translate(0%, -50%);
        transition: 0.5s;
        opacity: 1;
    }
    .down {
        bottom: 0px;
        left: 0px;
    }
    /* act  x로 바뀌는 class */
    .on {
        transform: translateY(11.5px) rotate(-45deg);
    }
    .on-d {
        transform: translateY(-11.5px) rotate(45deg);
    }
    .on-m {
        opacity: 0;
    }
    /* container */
    #container {
        width: 100%;
    }
    section {
        width: 100%;
        height: 1200px;
        font-family: "MaruBuri";
    }

    /* 예약하기 버튼 */
    .more_box {
        width: 140px;
        height: 40px;
        line-height: 40px;
        font-family: "MaruBuri";
        font-size: 17px;
        box-sizing: border-box;
        border: 1px solid #222;
        position: relative;
        overflow: hidden;
    }
    .more_box > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    /* title 제목 */
    .t_titl {
        width: 80%;
        margin: 0px auto;
        margin-top: 120px;
        font-family: "Noto Serif Display", serif;
        font-weight: 900;
        font-size: 50px;
        position: relative;
        box-sizing: border-box;
    }
    .colo_light {
        color: #6992a8;
    }
    .colo_dark {
        color: #405f6f;
    }
    .t_up {
        width: 20%;
        height: 3px;
        background-color: #6992a8;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0px;
        box-sizing: border-box;
        display: none;
    }
    .t_down {
        width: 80%;
        height: 3px;
        background-color: #6992a8;
        margin: 0px auto;
    }
    .t_txt {
        width: 80%;
        line-height: 30px;
        font-size: 17px;
        font-family: "MaruBuri";
        margin: 50px auto;
        text-align: center;
        box-sizing: border-box;
    }
    /* page01 */
    .page01 {
        height: 1900px;
        position: relative;
    }
    .p1_bg {
        width: 100vw;
        height: 51%;
        background-color: #f1ece1;
        position: absolute;
        bottom: 0px;
        z-index: 1;
        opacity: 0;
        transform: translateY(100%);
    }
    .bed {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
    .bed > li {
        width: 450px;
    }
    .bed > li:nth-child(1) {
        height: 400px;
        opacity: 0;
        transform: translateX(-200px);
    }
    .bed > li:nth-child(2) {
        height: 520px;
    }
    .bed > li:nth-child(3) {
        height: 400px;
        opacity: 0;
        transform: translateX(200px);
    }
    .bed > li:nth-child(2) > img {
        height: 250px;
    }
    .bed img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .bed > li:nth-child(2) > img:nth-child(1) {
        display: block;
        margin-bottom: 20px;
    }
    .cushion,
    .bedding {
        opacity: 0;
        transform: translateY(200px);
    }

    .p1_txt {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }
    .p1_txt p {
        font-size: 20px;
        color: #6992a8;
        line-height: 30px;
    }
    .p1_txt p .p1txt_up,
    .p1_txt p .p1txt_up2 {
        opacity: 0;
        display: inline-block;
        transform: translateY(200px);
    }
    .p1Up {
        opacity: 0;
        transform: translateY(200px);
    }
    /* page02 */
    .page02 {
        height: 1200px;
    }
    .amenity {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 0px auto;
        margin-top: 100px;
        box-sizing: border-box;
    }
    .amenity > li {
        width: 100%;
        height: 200px;
        font-size: 20px;
        line-height: 30px;
        color: #405f6f;
        position: relative;
    }
    .amenity > li:nth-child(1) {
        width: 100%;
        opacity: 0;
        transform: translateX(-200px);
    }
    .amenity > li:nth-child(4) {
        width: 100%;
        opacity: 0;
        transform: translateX(200px);
    }
    .amenity > li:nth-child(2) {
        width: 100%;
        opacity: 0;
        transform: translateX(-200px);
    }
    .amenity > li:nth-child(3) {
        width: 100%;
        opacity: 0;
        transform: translateX(-200px);
    }
    .amenity img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .a_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .breakfast {
        width: 100%;
        height: 500px;
        position: relative;
        margin: 100px auto 0px;
    }
    .bf_bg {
        width: 100%;
        height: 400px;
        background-color: #f1ece1;
        position: absolute;
        bottom: -400px;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .breakfast > img {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%) translateY(200px);
        opacity: 0;
        z-index: 2;
        object-fit: cover;
    }
    .bf_txt {
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        font-size: 25px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }
    .bf_txt > p {
        font-size: 20px;
        color: #6992a8;
        line-height: 30px;
    }
    .breakfast .bf_up {
        opacity: 0;
        transform: translateY(200px);
    }
    .breakfast .bf_txt1,
    .breakfast .bf_txt2 {
        display: inline-block;
        opacity: 0;
        transform: translateY(200px);
    }
    /* page03 */
    .page03 {
        width: 100vw;
        height: 100%;
        margin-top: 300px;
        box-sizing: border-box;
        position: relative;
    }
    .p3_bg {
        width: 100%;
        height: 1100px;
    }
    .p3_bg > li {
        width: 100%;
        height: calc(100% / 2);
    }
    .p3_bg .back_bg_up {
        background-color: #f1ece1;
        opacity: 0;
        transform: translateY(-500px);
    }
    .p3_bg .back_bg_down {
        background-color: #6992a8;
        opacity: 0;
        transform: translateY(500px);
    }
    .p3_wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
    }
    .resort_txt {
        width: 100%;
        height: 40px;
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translateX(-25%);
        color: #6992a8;
    }
    .resort_txt h2 {
        width: 200px;
        font-size: 20px;
        text-align: center;
    }
    .resort_txt > li {
        text-align: center;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: 1s;
        transform: translateY(50px);
    }
    }
     /* addClass */
     .resort_txt .showup {
        opacity: 1;
        transform: translateY(0px);
    }
    .prev {
        position: absolute;
        left: -60px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        cursor: pointer;
    }
    .next {
        position: absolute;
        right: -60px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        cursor: pointer;
    }
    .prev {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
    }
    .next {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
    }
    /* navi */
    .navibar {
        height: 15px;
        display: flex;
        gap: 20px;
        text-align: center;
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .navibar > li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;
    }
    .colo_on {
        background-color: #fff;
    }
    .slide_wrap {
        width: 100%;
        height: 600px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img_wrap {
        width: 100%;
        height: 600px;
        overflow: hidden;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main_imgs {
        display: flex;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 3;
    }
    .main_imgs > li {
        position: relative;
    }
    .main_imgs > li a {
        position: absolute;
        top: 50%;
        left: 28%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;
        border-color: #fff;
        opacity: 0;
    }
    .image_bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        opacity: 0;
    }
    /* footer */
    footer {
        width: 100vw;
        font-family: "MaruBuriExtraLight";
        font-size: 14px;
        font-weight: 100;
        background-color: #405f6f;
        color: #fff;
        position: relative;
    }
    .top_butt {
        position: absolute;
        right: 100px;
        top: -50px;
        z-index: 2;
    }
    .top_butt > a {
        width: 100px;
        height: 100px;
        color: #fff;
        position: relative;
    }
    .top_butt > a img {
        width: 100%;
        height: 100%;
    }
    .top_butt > a span {
        display: inline-block;
        font-weight: 900;
        letter-spacing: 1.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .f_txt {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 50px 50px;
        box-sizing: border-box;
    }
    .sns_txt {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 20px;
    }
    .sns {
        display: flex;
        gap: 30px;
        margin-bottom: 20px;
    }
    .sns a {
        color: #fff;
        font-size: 20px;
    }
    .f_logo {
        width: 150px;
        object-fit: cover;
        margin-right: -20px;
    }
    .f_txt li:nth-child(2) {
        text-align: right;
    }
    .cs_center {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    .f_contact {
        margin-bottom: 3.5px;
    }
}

/* ====================== 태블릿 버전 ============================ */

@media (min-width: 760px) and (max-width: 1500px) {
    /* header */
    header {
        width: 100vw;
        font-family: "Noto Serif Display", serif;
        font-size: 20px;
        box-sizing: border-box;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 0px 3px 10px #999;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
    }
    .menu_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu_wrap > li:nth-child(1),
    .menu_wrap > li:nth-child(3) {
        width: 30%;
    }
    .menu_wrap > li:nth-child(2) {
        width: 40%;
    }
    header a {
        color: #222;
    }
    header h1 {
        width: 300px;
        height: 100%;
    }
    header h1 > a {
        width: 100%;
        height: 100%;
    }
    .logo_colo {
        width: 100%;
        height: 100%;
    }
    .main_menu {
        display: none;
    }
    .reserv {
        text-align: right;
    }
    .reserv > a {
        width: 150px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #222;
        box-sizing: border-box;
        margin-right: 20px;
        position: relative;
        overflow: hidden;
    }
    .reserv > a p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .under_bar {
        width: 100%;
        height: 2px;
        background-color: #fff !important;
        margin-top: 4px;
        transform: scale(0);
        transition: 0.3s;
    }
    .side_menu {
        position: relative;
        z-index: 5;
    }
    .ham_menu {
        width: 400px;
        height: 1100px;
        background-color: #a0c4d7;
        position: absolute;
        right: -500px;
        top: -40px;
        transition: 0.5s;
    }
    /* 사이드메뉴 toggle on */
    .side_on {
        right: -5px;
    }
    .go_wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .ham_menu .go_wrap > a {
        margin-bottom: 20px;
        font-size: 30px;
        color: #fff;
    }
    .wh_on {
        background-color: #fff !important;
    }
    /* 헤더밑줄 class */
    .under_on {
        transform: scale(1);
    }
    /* 링크버튼 박스 차오르는 색 */
    .circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #a0c4d7;
        position: absolute;
        bottom: -550%;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
        z-index: 1;
    }
    .fill_up {
        bottom: -150%;
    }
    .side_menu {
        display: block;
    }
    /* 햄버거 X버튼 */
    .bars {
        width: 25px;
        height: 25px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        z-index: 5;
        margin-right: 30px;
    }
    .bars a {
        width: 100%;
        height: 100%;
    }
    .bar {
        width: 25px;
        height: 2px;
        background-color: #222;
        transition: 0.5s;
        position: absolute;
    }
    .up {
        top: 0px;
        left: 0px;
    }
    .midd {
        width: 20px;
        top: 50%;
        right: 0px;
        transform: translate(0%, -50%);
        transition: 0.5s;
        opacity: 1;
    }
    .down {
        bottom: 0px;
        left: 0px;
    }
    /* act  x로 바뀌는 class */
    .on {
        transform: translateY(11.5px) rotate(-45deg);
    }
    .on-d {
        transform: translateY(-11.5px) rotate(45deg);
    }
    .on-m {
        opacity: 0;
    }
    /* 햄버거 호버시 색 바뀜 */
    .bar_on {
        background-color: #a0c4d7;
    }
    /* container */
    #container {
        width: 100vw;
    }
    section {
        width: 100vw;
        height: 1200px;
        font-family: "MaruBuri";
    }

    /* 예약하기 버튼 */
    .more_box {
        width: 140px;
        height: 40px;
        line-height: 40px;
        font-family: "MaruBuri";
        font-size: 17px;
        box-sizing: border-box;
        border: 1px solid #222;
        position: relative;
        overflow: hidden;
    }
    .more_box > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    /* title 제목 */
    .t_titl {
        width: 90%;
        margin: 0px auto;
        margin-top: 120px;
        font-family: "Noto Serif Display", serif;
        font-weight: 900;
        font-size: 50px;
        position: relative;
        box-sizing: border-box;
    }
    .colo_light {
        color: #6992a8;
    }
    .colo_dark {
        color: #405f6f;
    }
    .t_up {
        width: 20%;
        height: 3px;
        background-color: #6992a8;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0px;
        box-sizing: border-box;
        display: none;
    }
    .t_down {
        width: 90%;
        height: 3px;
        background-color: #6992a8;
        margin: 0px auto;
    }
    .t_txt {
        width: 100%;
        line-height: 25px;
        font-size: 17px;
        font-family: "MaruBuri";
        text-align: right;
        margin: 30px auto 50px;

        box-sizing: border-box;
        padding-right: 100px;
    }
    /* page01 */
    .page01 {
        height: 1000px;
        position: relative;
    }
    .p1_bg {
        width: 100%;
        height: 51%;
        background-color: #f1ece1;
        position: absolute;
        bottom: 40px;
        z-index: 1;
        opacity: 0;
        transform: translateY(100%);
    }
    .bed {
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 190px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
    .bed > li {
        width: 450px;
    }
    .bed > li:nth-child(1) {
        height: 400px;
        opacity: 0;
        transform: translateX(-200px);
    }
    .bed > li:nth-child(2) {
        height: 250px;
    }
    .bed > li:nth-child(3) {
        height: 400px;
        opacity: 0;
        transform: translateX(200px);
    }
    .bed img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cushion,
    .bedding {
        opacity: 0;
        transform: translateY(200px);
    }
    .bed > li:nth-child(2) > img:nth-child(1) {
        display: block;
        margin-bottom: 20px;
    }
    .p1_txt {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 150px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }
    .p1_txt p {
        font-size: 25px;
        color: #6992a8;
        line-height: 40px;
    }
    .p1_txt p .p1txt_up,
    .p1_txt p .p1txt_up2 {
        display: inline-block;
        opacity: 0;
        transform: translateY(200px);
    }
    .p1Up {
        opacity: 0;
        transform: translateY(200px);
    }
    /* page02 */
    .amenity {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 0px auto;
        margin-top: 100px;
        padding: 150px;
        box-sizing: border-box;
    }
    .amenity > li {
        width: calc(100% / 2);
        height: 200px;
        font-size: 20px;
        line-height: 30px;
        color: #405f6f;
        position: relative;
        margin-bottom: 50px;
    }
    .amenity > li:nth-child(1) {
        width: 60%;
        opacity: 0;
        transform: translateX(-200px);
    }
    .amenity > li:nth-child(4) {
        width: 60%;
        opacity: 0;
        transform: translateX(200px);
    }
    .amenity > li:nth-child(2) {
        width: 40%;
        opacity: 0;
        transform: translateX(-200px);
    }
    .amenity > li:nth-child(3) {
        width: 40%;
        opacity: 0;
        transform: translateX(-200px);
    }
    .amenity img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .a_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .breakfast {
        width: 100%;
        height: 500px;
        position: relative;
        margin: 0px auto;
    }
    .bf_bg {
        width: 100%;
        height: 400px;
        background-color: #f1ece1;
        position: absolute;
        bottom: -400px;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .breakfast > img {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%) translateY(200px);
        opacity: 0;
        z-index: 2;
        object-fit: cover;
    }
    .bf_txt {
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }
    .bf_txt > p {
        font-size: 25px;
        color: #6992a8;
        line-height: 40px;
    }
    .breakfast .bf_up {
        opacity: 0;
        transform: translateY(200px);
    }
    .breakfast .bf_txt1,
    .breakfast .bf_txt2 {
        display: inline-block;
        opacity: 0;
        transform: translateY(200px);
    }

    /* page03 */
    .page03 {
        width: 100%;
        height: 100%;
        margin-top: 300px;
        box-sizing: border-box;
        position: relative;
    }
    .p3_bg {
        width: 100%;
        height: 1100px;
    }
    .p3_bg > li {
        width: 100%;
        height: calc(100% / 2);
    }
    .p3_bg .back_bg_up {
        background-color: #f1ece1;
        opacity: 0;
        transform: translateY(-500px);
    }
    .p3_bg .back_bg_down {
        background-color: #6992a8;
        opacity: 0;
        transform: translateY(500px);
    }
    .p3_wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
    }
    .resort_txt {
        width: 600px;
        height: 40px;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        color: #6992a8;
    }
    .resort_txt h2 {
        width: 600px;
        font-size: 30px;
        text-align: center;
    }
    .resort_txt > li {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: 1s;
        transform: translateY(50px);
    }
    /* addClass */
    .resort_txt .showup {
        opacity: 1;
        transform: translateY(0px);
    }
    .prev {
        position: absolute;
        left: -60px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        cursor: pointer;
    }
    .next {
        position: absolute;
        right: -60px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        cursor: pointer;
    }

    .prev {
        position: absolute;
        left: 100px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
    }
    .next {
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
    }
    /* navi */
    .navibar {
        height: 15px;
        display: flex;
        gap: 20px;
        text-align: center;
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .navibar > li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;
    }
    .colo_on {
        background-color: #fff;
    }
    .slide_wrap {
        width: 900px;
        height: 600px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img_wrap {
        width: 80%;
        height: 600px;
        overflow: hidden;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main_imgs {
        display: flex;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 3;
    }
    .main_imgs > li {
        position: relative;
    }
    .main_imgs > li a {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;
        border-color: #fff;
        opacity: 0;
    }
    .image_bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        opacity: 0;
    }
    /* footer */
    footer {
        width: 100vw;
        font-family: "MaruBuriExtraLight";
        font-size: 14px;
        font-weight: 100;
        background-color: #405f6f;
        color: #fff;
        position: relative;
    }
    .top_butt {
        position: absolute;
        right: 100px;
        top: -50px;
        z-index: 2;
    }
    .top_butt > a {
        width: 100px;
        height: 100px;
        color: #fff;
        position: relative;
    }
    .top_butt > a img {
        width: 100%;
        height: 100%;
    }
    .top_butt > a span {
        display: inline-block;
        font-weight: 900;
        letter-spacing: 1.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .f_txt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 50px;
        box-sizing: border-box;
    }
    .sns_txt {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 20px;
    }
    .sns {
        display: flex;
        gap: 30px;
        margin-bottom: 200px;
    }
    .sns a {
        color: #fff;
        font-size: 20px;
    }
    .f_logo {
        width: 200px;
        object-fit: cover;
        margin-right: -20px;
    }
    .f_txt li:nth-child(2) {
        text-align: right;
    }
    .cs_center {
        font-size: 20px;
        font-weight: 900;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .f_contact {
        margin-bottom: 3.5px;
    }
}

/* ========================== pc버전 ============================= */

@media (min-width: 1500px) {
    /* header */
    header {
        width: 100vw;
        font-family: "Noto Serif Display", serif;
        font-size: 20px;
        box-sizing: border-box;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 0px 3px 10px #999;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
    }
    .menu_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu_wrap > li:nth-child(1),
    .menu_wrap > li:nth-child(3) {
        width: 30%;
    }
    .menu_wrap > li:nth-child(2) {
        width: 40%;
    }
    header a {
        color: #222;
    }
    header h1 {
        width: 300px;
        height: 100%;
    }
    header h1 > a {
        width: 100%;
        height: 100%;
    }
    .logo_colo {
        width: 100%;
        height: 100%;
    }
    .main_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .reserv {
        text-align: right;
    }
    .reserv > a {
        width: 150px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #222;
        box-sizing: border-box;
        margin-right: 20px;
        position: relative;
        overflow: hidden;
    }
    .reserv > a p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .under_bar {
        width: 100%;
        height: 2px;
        background-color: #222;
        margin-top: 4px;
        transform: scale(0);
        transition: 0.3s;
    }
    /* 헤더밑줄 class */
    .under_on {
        transform: scale(1);
    }
    /* 링크버튼 박스 차오르는 색 */
    .circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #a0c4d7;
        position: absolute;
        bottom: -550%;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
        z-index: 1;
    }
    .fill_up {
        bottom: -150%;
    }
    .side_menu {
        display: none;
    }
    /* container */
    #container {
        width: 100vw;
    }
    section {
        width: 100vw;
        height: 1200px;
        font-family: "MaruBuri";
    }

    /* 예약하기 버튼 */
    .more_box {
        width: 140px;
        height: 40px;
        line-height: 40px;
        font-family: "MaruBuri";
        font-size: 17px;
        box-sizing: border-box;
        border: 1px solid #222;
        position: relative;
        overflow: hidden;
    }
    .more_box > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    /* title 제목 */
    .t_titl {
        width: 1500px;
        margin: 0px auto;
        margin-top: 120px;
        font-family: "Noto Serif Display", serif;
        font-weight: 900;
        font-size: 80px;
        position: relative;
        box-sizing: border-box;
        opacity: 0;
        transform: translateX(-100%);
        transition: 1s;
    }
    /* 타이틀 제목 add class */
    .come_in {
        opacity: 1;
        transform: translateX(0px);
    }

    .colo_light {
        color: #6992a8;
    }
    .colo_dark {
        color: #405f6f;
    }
    .t_up {
        width: 80%;
        height: 3px;
        background-color: #405f6f;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0px;
        box-sizing: border-box;
    }
    .t_down {
        width: 1500px;
        height: 3px;
        background-color: #405f6f;
        margin: 0px auto;
        opacity: 0;
        transform: translateX(100%);
        transition: 1s;
    }
    /* 제이쿼리 들어오는 타이틀 아래선 */
    .Rcome_in {
        opacity: 1;
        transform: translateX(0px);
    }
    .t_txt {
        width: 1500px;
        line-height: 30px;
        font-size: 18px;
        font-family: "MaruBuri";
        text-align: right;
        margin: 0px auto;
        margin-bottom: 50px;
        box-sizing: border-box;
        padding-right: 30px;
        opacity: 0;
        transform: translateY(100px);
        transition: 1s;
    }
    /* 타이틀 제목 add class */
    .come_up {
        opacity: 1;
        transform: translateY(0px);
    }
    /* page01 */
    .page01 {
        height: 1000px;
        position: relative;
    }
    .p1_bg {
        width: 100%;
        height: 51%;
        background-color: #f1ece1;
        position: absolute;
        bottom: 0px;
        z-index: 1;
        opacity: 0;
        transform: translateY(100%);
    }
    .bed {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 190px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
    .bed > li {
        width: 450px;
    }
    .bed > li:nth-child(1) {
        height: 400px;
        opacity: 0;
        transform: translateX(-200px);
    }
    .bed > li:nth-child(2) {
        height: 250px;
    }
    .bed > li:nth-child(3) {
        height: 400px;
        opacity: 0;
        transform: translateX(200px);
    }
    .bed img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .bed > li:nth-child(2) > img:nth-child(1) {
        display: block;
        margin-bottom: 20px;
    }
    .cushion,
    .bedding {
        opacity: 0;
        transform: translateY(200px);
    }
    .p1_txt {
        width: 1300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 150px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }
    .p1_txt p {
        font-size: 30px;
        color: #6992a8;
        line-height: 45px;
    }
    .p1_txt p .p1txt_up,
    .p1_txt p .p1txt_up2 {
        opacity: 0;
        display: inline-block;
        transform: translateY(200px);
    }
    .p1Up {
        opacity: 0;
        transform: translateY(200px);
    }

    /* page02 */
    .amenity {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 0px auto;
        margin-top: 100px;
        padding: 150px;
        box-sizing: border-box;
    }
    .amenity > li {
        width: calc(100% / 2);
        height: 200px;
        font-size: 25px;
        line-height: 40px;
        color: #405f6f;
        position: relative;
        margin-bottom: 50px;
    }
    .amenity > li:nth-child(1) {
        width: 60%;
        opacity: 0;
        transform: translateX(-200px);
    }
    .amenity > li:nth-child(4) {
        width: 60%;
        opacity: 0;
        transform: translateX(200px);
    }
    .amenity > li:nth-child(2) {
        width: 40%;
        opacity: 0;
        transform: translateX(-200px);
    }
    .amenity > li:nth-child(3) {
        width: 40%;
        opacity: 0;
        transform: translateX(-200px);
    }
    .amenity img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .a_txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .breakfast {
        width: 80%;
        height: 500px;
        position: relative;
        margin: 0px auto;
    }
    .bf_bg {
        width: 1000px;
        height: 400px;
        background-color: #f1ece1;
        position: absolute;
        bottom: -400px;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .breakfast > img {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%) translateY(200px);
        opacity: 0;
        z-index: 2;
        object-fit: cover;
    }
    .bf_txt {
        width: 900px;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }
    .bf_txt > p {
        font-size: 30px;
        color: #6992a8;
        line-height: 45px;
    }
    .breakfast .bf_up {
        opacity: 0;
        transform: translateY(200px);
    }
    .breakfast .bf_txt1,
    .breakfast .bf_txt2 {
        display: inline-block;
        opacity: 0;
        transform: translateY(200px);
    }

    /* page03 */
    .page03 {
        width: 100%;
        height: 1100px;
        margin-top: 100px;
        box-sizing: border-box;
        position: relative;
    }
    .p3_bg {
        width: 100%;
        height: 1100px;
    }
    .p3_bg > li {
        width: 100%;
        height: calc(100% / 2);
    }
    .p3_bg .back_bg_up {
        background-color: #f1ece1;
        opacity: 0;
        transform: translateY(-500px);
    }
    .p3_bg .back_bg_down {
        background-color: #6992a8;
        opacity: 0;
        transform: translateY(500px);
    }
    .p3_wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
    }
    .resort_txt {
        width: 600px;
        height: 40px;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        color: #6992a8;
    }
    .resort_txt h2 {
        width: 600px;
        font-size: 30px;
        text-align: center;
    }
    .resort_txt > li {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: 1s;
        transform: translateY(50px);
    }
    /* addClass */
    .resort_txt .showup {
        opacity: 1;
        transform: translateY(0px);
    }
    .prev {
        position: absolute;
        left: -60px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        cursor: pointer;
    }
    .next {
        position: absolute;
        right: -60px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        cursor: pointer;
    }

    /* navi */
    .navibar {
        height: 15px;
        display: flex;
        gap: 20px;
        text-align: center;
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .navibar > li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;
    }
    .colo_on {
        background-color: #fff;
    }
    .slide_wrap {
        width: 900px;
        height: 600px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img_wrap {
        width: 900px;
        height: 600px;
        overflow: hidden;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main_imgs {
        display: flex;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 3;
    }
    .main_imgs > li {
        position: relative;
    }
    .main_imgs > li a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;
        border-color: #fff;
        opacity: 0;
    }
    .image_bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        opacity: 0;
    }
    /* footer */
    footer {
        width: 100vw;
        font-family: "MaruBuriExtraLight";
        font-size: 14px;
        font-weight: 100;
        background-color: #405f6f;
        color: #fff;
        position: relative;
    }
    .top_butt {
        position: absolute;
        right: 100px;
        top: -50px;
        z-index: 2;
    }
    .top_butt > a {
        width: 100px;
        height: 100px;
        color: #fff;
        position: relative;
    }
    .top_butt > a img {
        width: 100%;
        height: 100%;
    }
    .top_butt > a span {
        display: inline-block;
        font-weight: 900;
        letter-spacing: 1.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .f_txt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 150px;
        box-sizing: border-box;
    }
    .sns_txt {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 20px;
    }
    .sns {
        display: flex;
        gap: 30px;
        margin-bottom: 200px;
    }
    .sns a {
        color: #fff;
        font-size: 40px;
    }
    .f_logo {
        width: 200px;
        object-fit: cover;
        margin-right: -20px;
    }
    .f_txt li:nth-child(2) {
        text-align: right;
    }
    .cs_center {
        font-size: 20px;
        font-weight: 900;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .f_contact {
        margin-bottom: 3.5px;
    }
}
